* {
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    color: #111;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    position: relative;
    margin: 0 70px 0 50px;
}

a {
    color: rgb(58, 57, 57);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

ul {
    list-style-type: none;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul li {
    padding: 0.8rem 0 1.5rem 0;
}

ul li a {
    font-size: large;
    padding: 1rem;
}

#logo {
    position: fixed;
    top: 0.5rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    opacity: 80%;
}

h1,
h2 {
    margin: 50px 0 10px 0;
    word-wrap: break-word;
}

details {
    margin: 20px 0 10px 0;
}

details>p {
    margin-left: 20px;
}

.project-distance-top {
    margin-top: 10px;
}

footer {
    padding-bottom: 1rem;
}
